@{
    ViewData["Title"] = "Bike Store";
}

<div class="text-center">
    <h1 class="display-4">Bike Store</h1>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>SerialNumber</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>@ViewData["Name"]</td>
            <td>@ViewData["SerialNumber"]</td>
            <td>@ViewData["Category"]</td>
            <td>@ViewData["Price"]</td>
        </tr>
    </table>
</div>